
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <title>Meet Document Print</title>


<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/dataTables.responsive.min.js"></script>
<script src="/js/responsive.bootstrap.min.js"></script>
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/buttons.print.min.js"></script>
<script src="/js/dataTables.select.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="/css/responsive.bootstrap.min.css">
<link rel="stylesheet" href="/css/select.dataTables.min.css">


<link rel="stylesheet" href="/css/font-awesome.min.css">

<link href="/css/Material_icons.css" rel="stylesheet">

<script src="/js/script.js"></script>
<link  href="/css/index.css" rel="stylesheet">

</head>

{{> header }}

{{{body}}}



{{> footer }}
 
