     <div class="container-fluid datatable_sec" id="datatable_sec">
 <div class="panel panel-default exception_table">
                <div class="panel-heading">
                   Exceptions
                  </div>
                <div class="panel-body">
                  <div class="exceptions">
                      <table id="exception_docs" class="table table-striped table-bordered dt-responsive nowrap display" style="width:100%">
                          <thead class="table_heading">
                              <tr>
                                  <th>Vendor</th>
                                  <th>Type</th>
                                  <th>PO/CR No</th>
                                  <th>Source</th>
                                  <th>Date Received</th>
                                  <th>Problem</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Farmer1</td>
                                  <td>PO</td>
                                  <td>956824</td>
                                  <td>SAP</td>
                                  <td>6 July</td>
                                  <td>Invalid Email</td>
                              </tr>
                              <tr>
                                <td>Farmer2</td>
                                <td>PO</td>
                                <td>966504</td>
                                <td>Foods Conn</td>
                                <td>5 July</td>
                                <td>No Attachment</td>
                              </tr>
                              <tr>
                                <td>Farmer3</td>
                                <td>CR Note</td>
                                <td>956824</td>
                                <td>SAP</td>
                                <td>1 July</td>
                                <td>No Attachment</td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
                </div>
                <!-- <div class="panel-footer print">
                    <button type="button" class="btn open_close_btn" style="float:right !important;">Open/Close</button>
                </div> -->
              </div>
          </div>