<body>
<div id="top">
    
<div class="main-panel" id="main-panel">
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                   <div class="navbar_brand">
                    <button class="btn menubar" onclick="openSidemenu()" >
                        <i class="material-icons menuicon">menu</i>
                       </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>    
  </div>
</body>