  <div class="container-fluid datatable_sec" id="datatable_sec">
 <div class="panel panel-default printed_documents_table">
                <div class="panel-heading">
                    Printed Documents
                  </div>
                <div class="panel-body">
                  <div class="printed_documents">
                      <table id="printeddocuments" class="table table-striped table-bordered dt-responsive nowrap display" style="width:100%">
                          <thead class="table_heading">
                              <tr>
                                  <th>Vendor</th>
                                  <th>Type</th>
                                  <th>PO/CR No</th>
                                  <th>Last Print Date</th>
                                  <th>Matched</th>
                                  <th>Reprint</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Farmer1</td>
                                  <td>PO</td>
                                  <td>956824</td>
                                  <td>1 July</td>
                                  <td></td>
                                  <td></td>
                              </tr>
                              <tr>
                                <td>Farmer2</td>
                                <td>PO</td>
                                <td>966504</td>
                                <td>2 July</td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Farmer3</td>
                                <td>CR Note</td>
                                <td>955632</td>
                                <td>2 July</td>
                                <td></td>
                                <td></td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
                </div>
                <div class="panel-footer print">
                 
                </div>
              </div>
            </div>